<div>
  <div *ngFor="let order of orders" (click)="getProductsByOrderId(order.orderId)">
    <div>{{order.orderId}}</div>
    <div>{{order.orderDeliveryType}}</div>
      <div>{{order.orderDescription}}</div>
        <div>{{order.orderSumm}}</div>
        <br>
           <!-- <div *ngFor="let orderProduct of order.orderProducts">
              <div>{{orderProduct.id.orderIdFk}} - {{orderProduct.id.productIdFk}} </div>

              <div>{{orderProduct.productQuantity}}</div>
              <div>{{orderProduct.productSumm}}</div>
              <br>
            </div>-->


            <div *ngIf="id===order.orderId">
              <div *ngFor="let product of order.orderProducts">


                <div>{{product.product.productName}}</div>
                <div>{{product.product.productDescription}}</div>
                <div>{{product.product.productStructure}}</div>
                <div>{{product.product.productMaker.productMakerName}}</div>
                <img src="http://localhost:8080/petshop.by/image/{{product.product.productId}}">
                <div>size {{product.productSize}}</div>
                <div> quantity {{product.productQuantity}}</div>
                <div> product summ{{product.productSumm}}</div>

                <br>

          <!--      <div>{{product.productId}}</div>
                <div>{{product.productName}}</div>
                <div>{{product.productDescription}}</div>
                <div>{{product.productStructure}}</div>
                <div>{{product.productMaker.productMakerName}}</div>
                <img src="http://localhost:8080/petshop.by/image/{{product.productId}}">-->
      <!--          <div>{{order.orderProducts.}}</div>-->
                <!--  <div *ngFor="let productOrder of order.orderProducts">
                          <div>{{productOrder.productQuantity}}</div>
                          <div>{{productOrder.productSumm}}</div>
                    </div>-->
              </div>
             <!-- <div *ngFor="let info of order.orderProducts">
                <div>{{info.productQuantity}}</div>
                <div>{{info.productSumm}}</div>
                <div>{{info.productSize}}</div>
              </div>-->




            </div>

              <button (click)="deleteOrder(order.orderId)">delete</button>
            </div>
  </div>

