  <div *ngFor="let product of products">
    <div>{{product.productId}}</div>
    <div>{{product.productName}}</div>
    <div>{{product.productDescription}}</div>
    <div>{{product.productStructure}}</div>
    <div>{{product.productMaker.productMakerName}}</div>
    <img src="http://localhost:8080/petshop.by/image/{{product.productId}}">
    <div>{{product.productSize}}</div>
    <div>{{product.productPrice}}</div>
    <button (click)="deleteProductFromCartList(product)">delete</button>
      <br>
      <button (click)="moreQuantity(product)">+</button>
      <br>
      <div>{{map.get(product.productId)}}</div>
      <br>
      <button (click)="lessQuantity(product)">-</button>
      <br>
  </div>


 <form [formGroup]="order">
    <input type="text" formControlName="orderDeliveryType" placeholder="delivery type">

    <input type="text" placeholder="description" formControlName="orderDescription">

    <div formGroupName="unregisterClient">

      <input type="text" placeholder="first name" formControlName="clientFirstName" >
      <input type="text" placeholder="email" formControlName="clientEmail">
      <input type="text" placeholder="tel" formControlName="clientTel" >


      <div formGroupName="clientAddress">

        <input type="text" placeholder="country" formControlName="addressCountry" >
        <input type="text" placeholder="city" formControlName="addressCity">
        <input type="text" placeholder="street" formControlName="addressStreet" >
        <input type="text" placeholder="home" formControlName="addressHome" >
        <input type="text" placeholder="flat" formControlName="addressFlat" >

      </div>
    </div>



  <!-- <button type="submit">press</button>-->
  </form>

   <!-- <form #myForm="ngForm" (ngSubmit)="addToOrders(myForm)">
      <input type="text"  placeholder="delivery type" name="orderDeliveryType" [(ngModel)]="order.orderDeliveryType" >
      <input type="text" placeholder="description" name="orderDescription" [(ngModel)]="order.orderDescription" >

      <input type="text" placeholder="first name" name="clientFirstName" [(ngModel)]="order.unregisterClient.clientFirstName" >
      <input type="text" placeholder="email" [(ngModel)]="order.unregisterClient.clientEmail">
      <input type="text" placeholder="tel"  [(ngModel)]="order.unregisterClient.clientTel">
    </form>-->




  <button (click)="addToOrders()">add to order</button>


