<footer>

  <div class="footer-gray">

    <div class="footer-custom">
      <div class="footer-lists">
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Каталог</h6>
          <ul class="ftr-links-sub">
            <li><a href="#">Товары для кошек</a></li>
            <li><a href="#">Товары для собак</a></li>
            <li><a href="#">Защита от блох и клещей</a></li>
            <li><a href="#">Товары для аквариумистики</a></li>
            <li><a href="#">Товары для грызунов и хорьков</a></li>
            <li><a href="#">Товары для черепах и рептилий</a></li>
            <li><a href="#">Товары для птиц</a></li>
          </ul>
        </div>
        <!--/.footer-list-wrap-->
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Покупателям</h6>
          <ul class="ftr-links-sub">
            <li><a href="/help/talktous.html" rel="nofollow">Акции</a></li>
            <li><a href="/help/placingorders.html" rel="nofollow">Бренды</a></li>
            <li><a href="/help/shipping.html" rel="nofollow">Бонусная программа</a></li>
            <li><a href="/help/shippingreturns.html" rel="nofollow">Как купить</a></li>
            <li><a href="/help/international-shipping.html" rel="nofollow">Доставка и оплата</a></li>
            <li><a href="/~/egift-cards/" rel="nofollow">Возврат товара</a></li>
            <li><a href="/help/faq.html" rel="nofollow">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Сервисы</h6>
          <ul class="ftr-links-sub">
            <li><a href="/asp/aboutus/default-asp/_/posters.htm" rel="nofollow">Подписка на доставку</a></li>
            <li><a href="http://corporate.art.com/careers" rel="nofollow">Подбор корма</a></li>
            <li><a href="/asp/landing/artistrising" rel="nofollow">Сравнение кормов</a></li>
            <li><a href="/~/art-for-business" rel="nofollow">Добролап</a></li>
            <li><a href="http://affiliates.art.com/index.aspx" rel="nofollow">Статьи</a></li>
            <li><a href="/catalog" rel="nofollow">Клубы и питомники</a></li>
          </ul>
        </div>
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Компания</h6>
          <ul class="ftr-links-sub">
            <li><a href="#">Новости</a></li>
            <li><a href="#">Магазины</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Партнёрам</a></li>
            <li><a href="#">Вакансии</a></li>
          </ul>
        </div>
        <!--/.footer-list-wrap-->

        <!--/.footer-list-wrap-->
      </div>
      <!--/.footer-lists-->

        <!--/.ftr-email-form-->
        <div class="ftr-email-privacy-policy"></div>
      </div>
      <!--/.footer-email-->

      <!--/.footer-legal-->

      <!--/.footer-payment-->
    </div>
    <!--/.footer-custom-->
  <!--/.footer-gray-->
</footer>
