<app-admin-header></app-admin-header>


<div class="container">
<form [formGroup]="addFormGroup">
  <div class="form-group" [hidden]="!isShowAddProduct">
    <div >
      <label for="ex1">Name</label>
      <input name="productName" formControlName="productName" class="form-control" id="ex1" type="text">
      <label for="ex2">Product English Name</label>
      <input name="productName" formControlName="productEngName" class="form-control" id="ex2" type="text">
      <label for="ex3">Product Description</label>
      <input name="productName" formControlName="productDescription" class="form-control" id="ex3" type="text">
      <label for="ex4">Product Structure</label>
      <input name="productName" formControlName="productStructure" class="form-control" id="ex4" type="text">
    </div>
    <select class="custom-select" formControlName="productMaker" >
      <option value="" disabled>Choose product maker</option>
      <option  *ngFor="let productMaker of productMakers" [ngValue]="productMaker" >{{productMaker.productMakerName}}</option>
    </select>

    <select class="custom-select" formControlName="productSubcategory" >
      <option value="" disabled>Choose product maker</option>
      <option  *ngFor="let productSubcategory of productSubcategories" [ngValue]="productSubcategory" >{{productSubcategory.productSubcategoryName}}</option>
    </select>

    <select class="custom-select" formControlName="productCategory">
      <option value="" disabled>Choose product maker</option>
      <option  *ngFor="let productCategory of productCategories" [ngValue]="productCategory" >{{productCategory.productCategoryName}}</option>
    </select>

    <select class="custom-select" formControlName="productType">
      <option value="" disabled>Choose product maker</option>
      <option  *ngFor="let productType of productTypes" [ngValue]="productType" >{{productType.productTypeName}}</option>
    </select>
    <button class="btn btn-primary" (click)="onSubmit()">add product</button>
  </div>
</form>
</div>

<div class="container">
  <form [formGroup]="addFormGroup">
    <div class="form-group" [hidden]="!isShowAddType">
      <label for="addType">Тип товара</label>
      <input name="productTypeName" formControlName="productType" class="form-control" id="addType" type="text">

      <button class="btn btn-primary" (click)="onSubmit()">Добавить тип</button>
    </div>
  </form>
</div>

<div class="container">
  <form [formGroup]="addFormGroup">
    <div class="form-group" [hidden]="!isShowAddCategory">
      <label for="addCategory">Категория товара</label>
      <input name="productCategoryName" formControlName="productCategory" class="form-control" id="addCategory" type="text">

      <button class="btn btn-primary" (click)="onSubmit()">Добавить категорию</button>
    </div>
  </form>
</div>

<div class="container">
  <form [formGroup]="addFormGroup">
    <div class="form-group" [hidden]="!isShowAddSubCategory">
      <label for="addSubCategory">Субкатегория товара</label>
      <input name="productSubCategoryName" formControlName="productSubcategory" class="form-control" id="addSubCategory" type="text">

      <button class="btn btn-primary" (click)="onSubmit()">Добавить подкатегорию</button>
    </div>
  </form>
</div>

<div class="container">
  <form [formGroup]="addFormGroup">
    <div class="form-group" [hidden]="!isShowAddProductMaker">
      <label for="addProductMaker">Производитель товара</label>
      <input name="productMakerName" formControlName="productMaker" class="form-control" id="addProductMaker" type="text">

      <button class="btn btn-primary" (click)="onSubmit()">Добавить производителя</button>
    </div>
  </form>
</div>

<div class="container">
  <form [formGroup]="addFormGroup">
    <div class="form-group" [hidden]="!isShowDeleteProduct">
      <label for="deleteProduct">Наименование товара для удаления</label>
      <input name="deleteProductName" formControlName="productName" class="form-control" id="deleteProduct" type="text">

      <button class="btn btn-danger" (click)="onSubmit()">Удалить товар</button>
    </div>
  </form>
</div>
<app-admin-footer></app-admin-footer>
