#my_catalog_menu{

}
.catalog_items{
  color: aquamarine;
}

#cart-login{
  margin-left: 87vw;
  display: inline-block;
}
#cart{
  margin: 5px;
}
.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
}
.nav-link {

  padding: 0;
}
