<!--work-->
<ul class = "list-group list-group-horizontal-sm" *ngFor="let type of productTypes " >
  <li class = "list-group-item d-flex justify-content-between align-items-baseline"(click)="getCategoryByType(type.productTypeEngName)">{{type.productTypeName}}
    <div *ngIf="clickedType === type.productTypeEngName">
      <ul class="list-group" *ngFor="let category of productCategories">
        <li class="list-group-item d-flex justify-content-between align-items-center" (click)="getProductsAndSubCategories(category.productCategoryEngName)">
          {{category.productCategoryName}}
          <div *ngIf="clickedCategory===category.productCategoryEngName">
            <ul class="list-group" *ngFor="let subcategory of productSubcategories">
             <li class="list-group-item d-flex justify-content-between align-items-center" (click)="getProductBySubcategory(subcategory.productSubcategoryEngName)">
               {{subcategory.productSubcategoryName}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>

<div>

  <div *ngIf="clickedSubCategory">
    <div *ngFor="let product of products">
      <div>{{product.productId}}</div>
      <div>{{product.productName}}</div>
      <div>{{product.productDescription}}</div>
      <div>{{product.productStructure}}</div>
      <div>{{product.productMaker.productMakerName}}</div>
      <img src="http://localhost:8080/petshop.by/image/{{product.productId}}">
      <div *ngFor="let size of product.productSizes" (click)="getSizeAndPrice(size)">
        {{size.productSizeValue}}
        {{size.productPrice}}
      </div>

      <div>
        <button (click)="addProductToCartList(product)">add to cart list</button>
      </div>
    </div>

  </div>


</div>


<div *ngIf="clickedCategory">
  <div *ngFor="let product of categoryProducts">
    <div>{{product.productName}}</div>
    <div>{{product.productImage}}</div>
      <img src="http://localhost:8080/petshop.by/image/{{product.productId}}">
 <!--   <img src="{{data}}">-->
  </div>

</div>
<!-- ---------------------------------------------------->



<!--<div *ngFor="let product of products">
  <div *ngFor="let category of product.productSubcategory.productCategories">
      <ul *ngFor="let type of category.productTypes">
          <li>{{type.productTypeName}}</li>
      </ul>
  </div>

</div>-->
<!--<div *ngFor="let product of products">
  <ul *ngFor="let type of product.productSubcategory.productCategories.productTypes.productTypeName">
    <li>{{type}}</li>
  </ul>
</div>-->


<!--<ul *ngFor="let type of productTypes " >
  <li (click)="getCategoryByType(type.productTypeEngName)" >{{type.productTypeName}}
    <div *ngFor="let product of products">
      <ul *ngFor="let category of product.productSubcategory.productCategories">
        <div *ngIf="clickedType === type.productTypeEngName">
        <ul>
          {{category.productCategoryName}}

&lt;!&ndash;          <ul *ngFor="let subcategory of product.productSubcategory">
            <li>{{subcategory[0]}}</li>
          </ul>&ndash;&gt;
&lt;!&ndash;          <ul>
              {{product.productSubcategory.productSubcategoryName}}
          </ul>&ndash;&gt;
&lt;!&ndash;          <ul *ngFor="let kek of product.productSubcategory">
            <ul *ngFor="let lal of kek">
              <li>{{lal}}</li>
            </ul>
          </ul>
        </ul>&ndash;&gt;
        </div>
      </ul>
    </div>

  </li>
</ul>-->






