#my_catalog_menu{
  top: 11vw;
}
.catalog_items{
  color: aquamarine;
}

#cart-login{
  margin-left: 87vw;
  display: inline-block;
}
#cart{
  margin: 5px;
}
.example-container {
  width: 800px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
}
.nav-link {
  padding: 0;
}
